@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import "tailwindcss";

@theme {
  --font-gfs: "GFS Didot";
  --font-future: "The Future";
}

:root {
  font-family: Mori, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* * {
  outline: 1px solid gray;
} */

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

h1 {
  line-height: 1;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/PPMori-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "The Future";
  src: url("/fonts/TheFuture-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
